body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(234, 234, 234);
}
#root {
	height: 100%;
	min-height: 100%;
}
h1 {
	margin: 0;
}

/* landing page styles */

.masthead {
	background-image: linear-gradient(135deg, #cb2d3e, #ef473a, #ef6344) !important;
}

.masthead.segment {
	min-height: 700px;
	padding: 1em 0 !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
	margin-left: 0.5em;
}

.masthead h1.ui.header {
	margin-top: 3em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}

.ui.vertical.stripe h3 {
	font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
	clear: both;
}

.ui.vertical.stripe p {
	font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}

.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.footer.segment {
	padding: 5em 0em;
}

.secondary.inverted.pointing.menu {
	border: none;
}

/* event list css */

.ui.menu .item img.logo {
	margin-right: 1.5em;
}

.ui.menu {
	border-radius: 0;
	position: sticky;
	top: 0; /* required */
	z-index: 10;
	margin: 0;

	background: #f85032; /* fallback for old browsers */
	background-image: linear-gradient(
		to right,
		#cb2d3e,
		#ef473a
	) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ui.positive.button {
	background: #ff5233 !important;
}

.main.container,
.main.segment {
	padding-top: 2rem;
	/* height: 100%; */
}

.ui.center.aligned.segment.attendance-preview {
	background-color: #f5f5f5;
}

/* allow inline equal width labels for semantic  */
.equal-width label {
	min-width: 100px; /* set this to max width of your label text */
}

/* sticky footer */

/* .ui.footer.segment {
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: rgb(234, 234, 234);
  } */

.ui.footer.segment .ui.divider {
	margin-top: 0px;
}

/* event-detail styles */

/* .event-image {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
} */

.event-image {
	filter: brightness(30%);
}

.event-image-text {
	position: absolute;
	bottom: 5%;
	left: 5%;
	width: 100%;
	height: auto;
	color: white;
}

/* remove border from inverted segments */
.ui.inverted.attached.segment {
	border: none;
}

.h-mr-sm {
	margin-right: 10px !important;
}

.ui.dimmer.backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
